/* Start Variable */
:root {
  --main-color: #2c5f2d;
  --transparent-color: rgba(0, 162, 11, 0.573);
  --second-color: #00a780;
}
/* End Variable */

/* Start Global Rules */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */
/* Start Components */
.main-title {
  margin: 0 auto 80px;
  border: 2px solid var(--main-color);
  text-transform: uppercase;
  padding: 20px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.main-title::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.main-title:hover::before {
  animation: left-anmi 0.5s linear forwards;
  -webkit-animation: left-anmi 0.5s linear forwards;
  z-index: -1;
}

.main-title:hover::after {
  animation: right-anmi 0.5s linear forwards;
  -webkit-animation: right-anmi 0.5s linear forwards;
  z-index: -1;
}

.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

@keyframes left-anmi {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes right-anmi {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

/* End */
/* Start Header */
header {
  background-color: transparent;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-width: 97px;
}

header .logo img {
  height: 92px;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav .toggle-menu {
  color: black;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

@media (max-width: 767px) {
  header nav .toggle-menu {
    display: block;
  }

  header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: #0c170b;
  }

  header nav ul li a {
    padding: 15px !important;
    text-align: center;
  }

  header nav ul.active {
    display: none;
  }
}

header nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  display: block;
  color: #1bcf1e;
  text-decoration: none;
  font-size: 14px;
  padding: 40px 10px;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: rgb(3, 177, 177);
}
/* End Header */

/* Start Environmental Awareness */
.environmental {
  padding-top: 100px;
  padding-bottom: 100px;
  cursor: pointer;
  background-color: #f4f4f4;
}

.environmental .card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.environmental .card:hover {
 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.environmental .ratio-16x9 {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.environmental iframe {
  border: none;
}


.environmental .card-body {
  padding: 20px; /
}

.environmental .card-title {
  font-size: 1.5rem; 
  font-weight: bold;
  color: #2c5f2d; 
  margin-bottom: 15px; 
}

.environmental .card-text {
  font-size: 1rem; 
  line-height: 2;
  color: #555; 
}

.environmental .card-footer {
    background-color: #f9f9f9; 
    border-top: 1px solid #eee; 
    padding: 10px 20px; 
    text-align: center; 
}

.card-footer small {
    font-size: 0.9rem; 
    color: #777; 
}
/* End Environmental Awareness */
/* start footer */
.footer {
  background-color: #2c4755;
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 20px;
}

.footer span {
  font-weight: bold;
  color: #1abc9c;
}

/* end footer */
