body {
  font-family: "Open Sans", sans-serif;

}


/* Start Header */
header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  margin-top: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-width: 97px;
  padding: 10px 20px;
}

header .logo img {
  height: 92px;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav .toggle-menu {
  color: black;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

header nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav ul li a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 14px;
  padding: 20px 15px;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #00a780;
}

/* Media */
@media (max-width: 767px) {
  header nav .toggle-menu {
    display: block;
  }

  header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: #0c170b;
  }

  header nav ul li a {
    padding: 15px !important;
    text-align: center;
    color: white;
  }

  header nav ul.active {
    display: flex;
  }
}

/* End Header */

/* Start Contact */
.contact {
  padding-top: 120px;
  /* زيادة الـ padding-top لتجنب التداخل مع الـ Header */
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  height: 100vh;
  /* جعل القسم يأخذ ارتفاع الشاشة بالكامل */
  display: flex;
  /* توسيط المحتوى عموديًا وأفقيًا */
  align-items: center;
  justify-content: center;
  background-color: #fff;
  /* لون خلفية اختياري */
}

.contact .container {
  position: relative;
  width: 100%;
  max-width: 820px;
  /* تحديد عرض أقصى للحاوية */
  padding: 2rem;
  background-color: #fafafa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  /* إضافة ظل للحاوية */
}

.contact .form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact .contact-form {
  background-color: #1abc9c;
  position: relative;
}

.contact .contact-form .circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #149279);
  position: absolute;
}

.contact .contact-form .circle.one {
  height: 130px;
  width: 130px;
  right: -40px;
  top: 130px;
}

.contact .contact-form .circle.Two {
  height: 80px;
  width: 80px;
  right: 30px;
  top: 10px;
}

.contact .contact-form::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #1abc9c;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

.contact form {
  padding: 2.3rem 2.2rem;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.contact .text {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
  text-align: end;
}

.contact .input-container {
  position: relative;
  margin: 1rem 0;
}

.contact .input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 0.8rem;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.8px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.contact textarea.input {
  padding: 0.8rem 0.8rem;
  min-height: 150px;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.contact .input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5;
  -webkit-transition: 0.5;
  -moz-transition: 0.5;
  -ms-transition: 0.5;
  -o-transition: 0.5;
}

.contact .input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.contact .input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.contact .input-container span::before,
.contact .input-container span::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 5px;
  opacity: 0;
  transition: 0.3s;
  background-color: #1abc9c;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.contact .input-container span::before {
  left: 50%;
}

.contact .input-container span::after {
  right: 50%;
}

.contact .input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.contact .input-container.focus span::before,
.contact .input-container.focus span::after {
  width: 50%;
  opacity: 1;
}

.contact .btn-1 {
  padding: 0.6rem 1.3rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 0.95rem;
  color: #1abc9c;
  line-height: 1;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  margin: 0;
}

.contact .btn-1:hover {
  background-color: transparent;
  color: white;
}

.contact .contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact .contact-info::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #1abc9c;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  bottom: -60px;
  right: 50px;
  opacity: 0.3;
}

.contact .contact-info .text {
  color: #1abc9c;
}

.contact .contact-info .content {
  color: #333;
  margin: 1.5rem 0 2rem 0;
  text-align: end;
}

.contact .contact-info .informition {
  display: flex;
  align-items: center;
  color: #555;
  margin: 0.7rem 0;
  font-size: 0.95rem;
}

.contact .contact-info .icon {
  width: 28px;
  padding-bottom: 10px;
  margin-right: 0.7rem;
}

.contact .contact-info .social-media {
  padding: 2rem 0 0 0;
}

.contact .contact-info .social-media p {
  color: #333;
  text-align: right;
}

.contact .contact-info .social-media .social-icons {
  display: flex;
  padding-top: 0.5rem;
}

.contact .contact-info .social-media .social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: linear-gradient(45deg, #1abc9c, #149279);
  color: white;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.contact .contact-info .social-media .social-icons a:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

/* Media */
@media (max-width: 850px) {
  .contact .form {
    grid-template-columns: 1fr;
  }

  .contact .contact-info::before {
    bottom: initial;
    top: -55px;
    right: 65px;
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
  }

  .contact .contact-form::before {
    top: -13px;
    left: initial;
    right: 50px;
  }

  .contact .text {
    margin: 1rem 0 1.5rem 0;
  }

  .contact .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .contact .container {
    padding: 1.5rem;
  }

  .contact .contact-info::before {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }
}

/* End Contact us */
/* start footer */
.footer {
  background-color: #2c4755;
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 20px;
}

.footer span {
  font-weight: bold;
  color: #1abc9c;
}

/* end footer */

/* Alerts */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}