/* Start Variable */
:root {
  --main-color: #2c5f2d;
  --transparent-color: rgba(0, 162, 11, 0.573);
  --second-color: #00a780;
}
/* End Variable */

/* Start Global Rules */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */
/* Start Components */
.main-title {
  margin: 0 auto 80px;
  border: 2px solid var(--main-color);
  text-transform: uppercase;
  padding: 20px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.main-title::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.main-title:hover::before {
  animation: left-anmi 0.5s linear forwards;
  -webkit-animation: left-anmi 0.5s linear forwards;
  z-index: -1;
}

.main-title:hover::after {
  animation: right-anmi 0.5s linear forwards;
  -webkit-animation: right-anmi 0.5s linear forwards;
  z-index: -1;
}

.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

@keyframes left-anmi {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes right-anmi {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.sconed-title {
  text-align: center;
  position: relative;
  padding: 20px 0;
  color: #2c5f2d;
  width: fit-content;
  margin: auto;
}

.sconed-title::before,
.sconed-title::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background-color: #13b816;
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.sconed-title::before {
  left: 275px;
}
.sconed-title::after {
  right: 275px;
}

/* End  */

/* Start Header */
header {
  background-color: #0c170b;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-width: 97px;
}

header .logo img {
  height: 92px;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav .toggle-menu {
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

@media (max-width: 767px) {
  header nav .toggle-menu {
    display: block;
  }

  header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: #0c170b;
  }

  header nav ul li a {
    padding: 15px !important;
    text-align: center;
  }

  header nav ul.active {
    display: none;
  }
}

header nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 40px 10px;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #00a780;
}
/* End Header */
/* Start Landing */
.landing {
  min-height: 100vh;
  background-color: #00a780;
  background-image: url(../Images/landing.jpg);
  background-size: cover;
  position: relative;
}

@media (max-width: 767px) {
  .landing {
    background-position: center;
  }
}

.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}

.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  justify-content: flex-end;
}

.landing .text .content {
  max-width: 500px;
}
.landing .text .content h2 {
  font-size: 30px;
}
.landing .text .content p {
  font-size: 20px;
}

@media (max-width: 767px) {
  .landing .text {
    width: 100%;
    padding: 20px;
    justify-content: center;
    text-align: center;
  }

  .landing .text .content h2 {
    font-size: 24px;
  }

  .landing .text .content p {
    font-size: 16px;
  }
}
/* End Landing */

/* start footer */
.footer {
  background-color: #071008;
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 20px;
}

.footer span {
  font-weight: bold;
  color: #fff;
}

/* end footer */
